body {
	background-color: #232323;
	margin: 0;
	font-family: "Arial";
}

#colorDisplay{
	font-size: 60px;

}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float:left;
	margin:1.6%;
	border-radius: 10%;
	transition: background 0.5s;
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	padding: 40px 0;
	color: white;
	line-height: 1.1;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
}

#stripe{
	background-color: white;
	height :; 30px;
	text-align : center;
}

.selected{
	background-color: steelblue;
	color: white;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

button:hover{
	color: white;
	background-color: steelblue;
}